.main-header a {
 display: flex;
 align-items: center;
 justify-content: center;
 text-decoration: none;
 color: inherit;
 min-height: 6.25rem;
 width: 200px;
 border-left: solid 2px var(--rev-flash);
 border-right: solid 2px var(--rev-flash);
}

.main-header a:hover {
 color: var(--rev-flash);
 transition: 0.6s ease-in;
 box-shadow: inset 0px -6px 0 var(--rev-flash);
 /* transition: border-bottom 0.3s ease-out; */
}

.header-links .gallery-link {
 border-right: none;
}