@font-face {
 font-family: 'Sharp', sans-serif;
 src: url('https://fonts.cdnfonts.com/css/sharp');
}

@font-face {
 font-family: 'Lightning', sans-serif;
 src: url('https://fonts.cdnfonts.com/css/lightning');
}